In [1]:
!pip install faker

Collecting faker
  Downloading faker-37.3.0-py3-none-any.whl.metadata (15 kB)
Requirement already satisfied: tzdata in /usr/local/lib/python3.11/dist-packages (from faker) (2025.2)
Downloading faker-37.3.0-py3-none-any.whl (1.9 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.9/1.9 MB 20.2 MB/s eta 0:00:00
Installing collected packages: faker
Successfully installed faker-37.3.0

In [2]:
import pandas as pd
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"
import numpy as np
from faker import Faker
fake = Faker("ru_RU")

### __Задание__

1. Создайте DataFrame для пяти студентов и их оценок по предметам `matan`, `linal`, `matstat` и `cs`, заполните их случайными данными. Предметы - колонки, студенты - строки.
2. Добавьте еще одного студента и данные по его успеваемости по предметам
3. Добавьте предмет physics и оценки по нему
4. Добавьте столбец "mean" ("средний балл"), посчитайте в нем средний балл по каждому студенту.
5. Для каждого студента посчитайте средний балл по всем предметам, кроме "cs" и "mean" (новый столбец датафрейма)
6. Удалите предмет "cs"

**Task1.** Создайте DataFrame для пяти студентов и их оценок по предметам `matan`, `linal`, `matstat` и `cs`, заполните их случайными данными. Предметы - колонки, студенты - строки.

In [3]:
# 1. Создаем DataFrame для 5 студентов с оценками
fake = Faker()
np.random.seed(42)  # Для воспроизводимости результатов

students = [fake.name() for _ in range(5)]
subjects = ['matan', 'linal', 'matstat', 'cs']
grades = np.random.randint(2, 6, size=(5, 4))  # Оценки от 2 до 5

df = pd.DataFrame(grades, index=students, columns=subjects)
print("1. Исходный DataFrame:")
print(df)

1. Исходный DataFrame:
                matan  linal  matstat  cs
Gregory Lee         4      5        2   4
Angel Crawford      4      5        2   2
Daniel Munoz        4      3        4   4
James Douglas       4      4        5   2
Luke Sandoval       5      5        5   4

**Task2.** Добавьте еще одного студента и данные по его успеваемости по предметам

In [4]:
# 2. Добавляем нового студента
new_student = fake.name()
new_grades = np.random.randint(2, 6, size=4)
df.loc[new_student] = new_grades
print("\n2. После добавления нового студента:")
print(df)

2. После добавления нового студента:
                matan  linal  matstat  cs
Gregory Lee         4      5        2   4
Angel Crawford      4      5        2   2
Daniel Munoz        4      3        4   4
James Douglas       4      4        5   2
Luke Sandoval       5      5        5   4
Jillian Todd        3      2        3   5

**Task3.** Добавьте предмет physics и оценки по нему

In [5]:
# 3. Добавляем предмет physics
df['physics'] = np.random.randint(2, 6, size=len(df))
print("\n3. После добавления предмета physics:")
print(df)

3. После добавления предмета physics:
                matan  linal  matstat  cs  physics
Gregory Lee         4      5        2   4        5
Angel Crawford      4      5        2   2        3
Daniel Munoz        4      3        4   4        3
James Douglas       4      4        5   2        3
Luke Sandoval       5      5        5   4        5
Jillian Todd        3      2        3   5        5

**Task6.** Добавьте признак "mean" ("средний балл"), посчитайте в нем средний балл по каждому студенту.

In [6]:
# 4. Добавляем столбец со средним баллом
df['mean'] = df.mean(axis=1)
print("\n4. После добавления среднего балла:")
print(df)

4. После добавления среднего балла:
                matan  linal  matstat  cs  physics  mean
Gregory Lee         4      5        2   4        5   4.0
Angel Crawford      4      5        2   2        3   3.2
Daniel Munoz        4      3        4   4        3   3.6
James Douglas       4      4        5   2        3   3.6
Luke Sandoval       5      5        5   4        5   4.8
Jillian Todd        3      2        3   5        5   3.6

**Task7.** Для каждого студента посчитайте средний балл по всем предметам, кроме "cs" и "mean" (новый столбец датафрейма)

In [7]:
# 5. Средний балл без учета cs и mean
subjects_for_mean = [col for col in df.columns if col not in ['cs', 'mean']]
df['mean_without_cs'] = df[subjects_for_mean].mean(axis=1)
print("\n5. Средний балл без учета cs и mean:")
print(df)

5. Средний балл без учета cs и mean:
                matan  linal  matstat  cs  physics  mean  mean_without_cs
Gregory Lee         4      5        2   4        5   4.0             4.00
Angel Crawford      4      5        2   2        3   3.2             3.50
Daniel Munoz        4      3        4   4        3   3.6             3.50
James Douglas       4      4        5   2        3   3.6             4.00
Luke Sandoval       5      5        5   4        5   4.8             5.00
Jillian Todd        3      2        3   5        5   3.6             3.25

**Task8.** Удалите предмет "cs"

In [8]:
# 6. Удаляем предмет cs
df = df.drop('cs', axis=1)
print("\n6. После удаления предмета cs:")
print(df)

6. После удаления предмета cs:
                matan  linal  matstat  physics  mean  mean_without_cs
Gregory Lee         4      5        2        5   4.0             4.00
Angel Crawford      4      5        2        3   3.2             3.50
Daniel Munoz        4      3        4        3   3.6             3.50
James Douglas       4      4        5        3   3.6             4.00
Luke Sandoval       5      5        5        5   4.8             5.00
Jillian Todd        3      2        3        5   3.6             3.25