## –ê–Ω–∞–ª–∏–∑ –∏ –≤–∏–∑—É–∞–ª–∏–∑–∞—Ü–∏—è –¥–∞–Ω–Ω—ã—Ö –Ω–∞ —è–∑—ã–∫–µ Python

##  –ë–∏–±–ª–∏–æ—Ç–µ–∫–∞ pandas

–û—Å–Ω–æ–≤–Ω—ã–µ —Å—Ç—Ä—É–∫—Ç—É—Ä—ã –±–∏–±–ª–∏–æ—Ç–µ–∫–∏ - –æ–±—ä–µ–∫—Ç—ã **Series** –∏ **DataFrame**.   
**DataFrame** - —Ç–∞–±–ª–∏—á–Ω–∞—è —Å—Ç—Ä—É–∫—Ç—É—Ä–∞ –¥–∞–Ω–Ω—ã—Ö, –∞ **Series** - –∫–æ–ª–æ–Ω–∫–∞ –≤ —ç—Ç–æ–π —Ç–∞–±–ª–∏—Ü–µ.    
**DataFrame** –º–æ–∂–Ω–æ —Ä–∞—Å—Å–º–∞—Ç—Ä–∏–≤–∞—Ç—å –∫–∞–∫ —Å–ª–æ–≤–∞—Ä—å –æ–±—ä–µ–∫—Ç–æ–≤ Series, –æ–±—ä–µ–¥–∏–Ω–µ–Ω–Ω—ã—Ö –æ–¥–Ω–∏–º –∏–Ω–¥–µ–∫—Å–æ–º.

In [1]:
import numpy as np
import pandas as pd
from datetime import datetime

In [2]:
np.set_printoptions(linewidth=110, legacy='1.25', precision=2)

In [3]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = 'all'

In [4]:
np.__version__
pd.__version__

'2.0.2'

'2.2.2'

### –û–±—ä–µ–∫—Ç Series

Series - —ç—Ç–æ –æ–±—ä–µ–∫—Ç, –ø–æ—Ö–æ–∂–∏–π –Ω–∞ –æ–¥–Ω–æ–º–µ—Ä–Ω—ã–π –º–∞—Å—Å–∏–≤: –æ–Ω —Å–æ–¥–µ—Ä–∂–∏—Ç –ø–æ—Å–ª–µ–¥–æ–≤–∞—Ç–µ–ª—å–Ω–æ—Å—Ç—å –¥–∞–Ω–Ω—ã—Ö, –∫–æ—Ç–æ—Ä–∞—è —Å–æ–ø—Ä–æ–≤–æ–∂–¥–∞–µ—Ç—Å—è –∏–Ω–¥–µ–∫—Å–Ω—ã–º–∏ –º–µ—Ç–∫–∞–º–∏ –¥–ª—è –¥–æ—Å—Ç—É–ø–∞ –∫ –Ω–∏–º.

–°–æ–∑–¥–∞–¥–∏–º –ø—Ä–æ—Å—Ç–µ–π—à–∏–π –æ–±—ä–µ–∫—Ç Series –∏ –≤—ã–≤–µ–¥–µ–º –µ–≥–æ –Ω–∞ —ç–∫—Ä–∞–Ω:

In [5]:
series = pd.Series([2, 12, 85, 0, 6])
series

0     2
1    12
2    85
3     0
4     6
dtype: int64

–ò–Ω–¥–µ–∫—Å - –∫–æ–ª–æ–Ω–∫–∞ —Å–ª–µ–≤–∞, –¥–∞–Ω–Ω—ã–µ - –∫–æ–ª–æ–Ω–∫–∞ —Å–ø—Ä–∞–≤–∞.  
–í—ã–≥—Ä—É–∑–∏—Ç—å —Ç–æ–ª—å–∫–æ –¥–∞–Ω–Ω—ã–µ –º–æ–∂–Ω–æ —á–µ—Ä–µ–∑ —Å–≤–æ–π—Å—Ç–≤–æ ```.values```, –≤—ã–≥—Ä—É–∑–∏—Ç—å —Ç–æ–ª—å–∫–æ –∏–Ω–¥–µ–∫—Å - ```.index```.

In [6]:
series.values

array([ 2, 12, 85,  0,  6])

In [7]:
type(series.values) # –∑–Ω–∞–∫–æ–º—ã–π –Ω–∞–º –º–∞—Å—Å–∏–≤ numpy!

numpy.ndarray

In [8]:
series.index

RangeIndex(start=0, stop=5, step=1)

–ú–æ–∂–Ω–æ —Å–æ–∑–¥–∞—Ç—å Series —Å –∑–∞–¥–∞–Ω–Ω—ã–º –∏–Ω–¥–µ–∫—Å–æ–º:

In [9]:
series2 = pd.Series([4, 7, -5, 3], index=['d', 'b', 'a', 'c'])
series2

d    4
b    7
a   -5
c    3
dtype: int64

In [10]:
series2.index

Index(['d', 'b', 'a', 'c'], dtype='object')

–î–ª—è –¥–æ—Å—Ç—É–ø–∞ –∫ –¥–∞–Ω–Ω—ã–º –º–æ–∂–Ω–æ –∏—Å–ø–æ–ª—å–∑–æ–≤–∞—Ç—å –∫–∞–∫ –º–µ—Ç–∫–∏ –∏–Ω–¥–µ–∫—Å–∞, —Ç–∞–∫ –∏ –ø–æ—Ä—è–¥–∫–æ–≤—É—é –ø–æ–∑–∏—Ü–∏—é —ç–ª–µ–º–µ–Ω—Ç–∞:

In [11]:
# —ç—Ç–∏ –≤—ã—Ä–∞–∂–µ–Ω–∏—è —ç–∫–≤–∏–≤–∞–ª–µ–Ω—Ç—ã
print(series2.iloc[2])  # –ñ–µ–ª–∞—Ç–µ–ª—å–Ω–æ —É–∫–∞–∑–∞—Ç—å —è–≤–Ω–æ, —á—Ç–æ —ç—Ç–æ –∏–Ω–¥–µ–∫—Å –¥–ª—è —Å—Ç—Ä–æ–∫–∏
print(series2['a'])

-5
-5

–ü–æ–¥–¥–µ—Ä–∂–∏–≤–∞—é—Ç—Å—è —Å—Ä–µ–∑—ã –ø–æ –ø–æ—Ä—è–¥–∫–æ–≤–æ–º—É –Ω–æ–º–µ—Ä—É –∏ –ø–æ–∏—Å–∫ –ø–æ –Ω–∞–±–æ—Ä—É –∑–Ω–∞—á–µ–Ω–∏–π –∏–Ω–¥–µ–∫—Å–∞:

In [12]:
print(series2[1:-1])
# –ö–æ–≥–¥–∞ –º—ã –æ–±—Ä–∞—â–∞–µ–º—Å—è –ø–æ –∏–º–µ–Ω–∏ –∏–Ω–¥–µ–∫—Å–∞, —Ç–æ –ø–æ—Å–ª–µ–¥–Ω–∏–π —ç–ª–µ–º–µ–Ω—Ç –≤–∫–ª—é—á–∞–µ—Ç—Å—è!!!
print(series2['d':'a'])
# –ü–æ—Ä—è–¥–æ–∫ —Å–ª–µ–¥–æ–≤–∞–Ω–∏—è –∏–º–µ–Ω –∏–Ω–¥–µ–∫—Å–æ–≤ –∏–º–µ–µ—Ç –∑–Ω–∞—á–µ–Ω–∏–µ
print(series2[['a', 'd', 'c']])
print(series2[['b', 'a']])

b    7
a   -5
dtype: int64
d    4
b    7
a   -5
dtype: int64
a   -5
d    4
c    3
dtype: int64
b    7
a   -5
dtype: int64

–¢–∞–∫–∂–µ –ø–æ–¥–¥–µ—Ä–∂–∏–≤–∞–µ—Ç—Å—è –±—É–ª–µ–≤ –∏–Ω–¥–µ–∫—Å - –∫–∞–∫ –Ω–∞ —á—Ç–µ–Ω–∏–µ, —Ç–∞–∫ –∏ –Ω–∞ –∑–∞–ø–∏—Å—å:

In [13]:
series2 > 0

d     True
b     True
a    False
c     True
dtype: bool

In [14]:
series2[series2 > 0]

d    4
b    7
c    3
dtype: int64

In [15]:
series2[series2 <= 3] = 100_500
series2

d         4
b         7
a    100500
c    100500
dtype: int64

Broadcasting —Ç–∞–∫–∂–µ –ø–æ–¥–¥–µ—Ä–∂–∏–≤–∞–µ—Ç—Å—è:

In [16]:
series2

d         4
b         7
a    100500
c    100500
dtype: int64

In [17]:
arr = np.array([10, 20, 30, 40])
series4 = arr + series2
print(series4)

d        14
b        27
a    100530
c    100540
dtype: int64

–ú–∞—Ç–µ–º–∞—Ç–∏—á–µ—Å–∫–∏–µ –æ–ø–µ—Ä–∞—Ü–∏–∏

In [18]:
series2 * 2

d         8
b        14
a    201000
c    201000
dtype: int64

In [19]:
np.sqrt(series2)

d      2.000000
b      2.645751
a    317.017350
c    317.017350
dtype: float64

–¢–∞–∫–∂–µ –º–æ–∂–Ω–æ –≤—ã–ø–æ–ª–Ω—è—Ç—å –∞–≥—Ä–µ–≥–∞—Ç–Ω—ã–µ –∑–∞–ø—Ä–æ—Å—ã –∫ –æ–±—ä–µ–∫—Ç—É Series - –≤—ã—á–∏—Å–ª—è—Ç—å —Å—Ä–µ–¥–Ω–µ–µ, —Å—É–º–º—É –∏ —Ç.–¥.

In [20]:
series2.mean()

50252.75

In [21]:
series2.size, series2.count(), series2.sum(), series2.prod()

(4, 4, 201011, 282807000000)

In [22]:
series2.min(), series2.max()

(4, 100500)

In [23]:
series2.mean(), series2.median()

(50252.75, 50253.5)

–§—É–Ω–∫—Ü–∏—è describe() –ø–æ–∑–≤–æ–ª—è–µ—Ç —Å—Ä–∞–∑—É –ø–æ–ª—É—á–∏—Ç—å –æ–ø–∏—Å–∞—Ç–µ–ª—å–Ω—ã–µ —Å—Ç–∞—Ç–∏—Å—Ç–∏–∫–∏

In [24]:
series2.describe()

count         4.00000
mean      50252.75000
std       58020.52664
min           4.00000
25%           6.25000
50%       50253.50000
75%      100500.00000
max      100500.00000
dtype: float64

–û–±—ä–µ–∫—Ç Series –º–æ–∂–Ω–æ —Ä–∞—Å—Å–º–∞—Ç—Ä–∏–≤–∞—Ç—å –∫–∞–∫ —Å–ª–æ–≤–∞—Ä—å —Å –æ–¥–Ω–æ—Ç–∏–ø–Ω—ã–º–∏ –¥–∞–Ω–Ω—ã–º–∏.  
–ë–æ–ª–µ–µ —Ç–æ–≥–æ, –¥–ª—è —Å–æ–∑–¥–∞–Ω–∏—è –æ–±—ä–µ–∫—Ç–∞ Series –º–æ–∂–Ω–æ –∏—Å–ø–æ–ª—å–∑–æ–≤–∞—Ç—å –≥–æ—Ç–æ–≤—ã–π —Å–ª–æ–≤–∞—Ä—å:

In [25]:
print(ord('$'))  # –∫–æ–¥ —Å–∏–º–≤–æ–ª–∞
print(chr(36))  # –ø–æ –∫–æ–¥—É —Å–∏–º–≤–æ–ª–∞ –ø–æ–ª—É—á–∏—Ç—å —Å–∞–º —Å–∏–º–≤–æ–ª
print(chr(int('1F600', base=16)))
print(ord('üòÄ'))

36
$
üòÄ
128512

In [26]:
ex = {chr(int('20AC', base=16)): 10000,
      chr(int('20BD', base=16)): 1000,
      chr(36): 100}
ex_series = pd.Series(ex)
ex_series

‚Ç¨    10000
‚ÇΩ     1000
$      100
dtype: int64

In [27]:
ex['‚Ç¨'], ex_series.loc["‚Ç¨"]

(10000, 10000)

In [28]:
sdata = {
    'First': 35000,
    'Second': 71000,
    'Third': 16000,
    'Fourth': 5000
}
series3 = pd.Series(sdata)
series3

First     35000
Second    71000
Third     16000
Fourth     5000
dtype: int64

In [29]:
# –ü—Ä–æ–≤–µ—Ä–∫–∞ –∏–¥–µ—Ç –ø–æ –∏–Ω–¥–µ–∫—Å—É
'First' in series3

True

In [30]:
# –ü—Ä–æ–≤–µ—Ä–∫–∞ –∏–¥–µ—Ç –ø–æ –∏–Ω–¥–µ–∫—Å—É
'Zeroth' in series3

False

In [31]:
bad_data = {'a':1, 'b':2.0, 'c':'Hello World'}
obj_series = pd.Series(bad_data)
print(obj_series)

a              1
b            2.0
c    Hello World
dtype: object

In [32]:
obj_series.mean() ## Error

TypeError: unsupported operand type(s) for +: 'float' and 'str'

In [33]:
# obj_series['c'] = len(obj_series['c']) # –í–∞—Ä–∏–∞–Ω—Ç –∏–∑–º–µ–Ω–µ–Ω–∏—è –∑–Ω–∞—á–µ–Ω–∏—è obj_series —Å –∏–Ω–¥–µ–∫—Å–æ–º 'c'
# obj_series.sum()

In [34]:
print(obj_series[obj_series > 1]) # —Å —Ç–∞–∫–∏–º series —ç—Ç–æ—Ç —Ñ–æ–∫—É—Å —É–∂–µ –Ω–µ –ø—Ä–æ–π–¥–µ—Ç

TypeError: '>' not supported between instances of 'str' and 'int'

In [35]:
obj_series.values

array([1, 2.0, 'Hello World'], dtype=object)

### –í—ã—Ä–∞–≤–Ω–∏–≤–∞–Ω–∏–µ –¥–∞–Ω–Ω—ã—Ö

In [36]:
sdata = {
    'First': 35000,
    'Second': 71000,
    'Third': 16000,
    'Fourth': 5000
}
idx_names = ['Zeroth', 'First', 'Second', 'Third']
# –≤—ã—Ä–∞–≤–Ω–∏–≤–∞–Ω–∏–µ –ø–æ –∏–Ω–¥–µ–∫—Å—É(–∏–º–µ–Ω–∞–º)
series4 = pd.Series(sdata, index=idx_names)
mas = series4.values
print(mas)
print(series4)
print(series4.sum(), np.sum(mas), np.nansum(mas), np.any(np.isnan(mas)))

[   nan 35000. 71000. 16000.]
Zeroth        NaN
First     35000.0
Second    71000.0
Third     16000.0
dtype: float64
122000.0 nan 122000.0 True

`NaN` - –æ—Ç—Å—É—Ç—Å—Ç–≤—É—é—â–∏–µ –¥–∞–Ω–Ω—ã–µ, "Not a Number" - "–Ω–µ —á–∏—Å–ª–æ". –ü–æ —ç—Ç–æ–º—É –ø—Ä–∏–∑–Ω–∞–∫—É –º–æ–∂–Ω–æ —Ñ–∏–ª—å—Ç—Ä–æ–≤–∞—Ç—å –¥–∞–Ω–Ω—ã–µ:

In [37]:
pd.notna(series4) # –ë—É–ª–µ–≤ –º–∞—Å—Å–∏–≤ —Å —Ä–µ–∑—É–ª—å—Ç–∞—Ç–∞–º–∏ —Å—Ä–∞–≤–Ω–µ–Ω–∏—è

Zeroth    False
First      True
Second     True
Third      True
dtype: bool

In [38]:
pd.isna(series4) # –û–±—Ä–∞—Ç–Ω–∞—è –æ–ø–µ—Ä–∞—Ü–∏—è

Zeroth     True
First     False
Second    False
Third     False
dtype: bool

In [39]:
series4[series4.notnull()]  # notna() —Ç–æ–∂–µ —Å–∞–º–æ–µ, —á—Ç–æ –∏ notnull()

First     35000.0
Second    71000.0
Third     16000.0
dtype: float64

–ù–∞–¥ –æ–±—ä–µ–∫—Ç–∞–º–∏ Series –º–æ–∂–Ω–æ –≤—ã–ø–æ–ª–Ω—è—Ç—å –∞—Ä–∏—Ñ–º–µ—Ç–∏—á–µ—Å–∫–∏–µ –æ–ø–µ—Ä–∞—Ü–∏–∏, –Ω–æ –ø—Ä–∏ —ç—Ç–æ–º –≤–∞–∂–Ω–æ –ø–æ–º–Ω–∏—Ç—å –ø—Ä–æ –≤—ã—Ä–∞–≤–Ω–∏–≤–∞–Ω–∏–µ –¥–∞–Ω–Ω—ã—Ö –ø–æ –∏–Ω–¥–µ–∫—Å–∞–º:  
–µ—Å–ª–∏ –∏–Ω–¥–µ–∫—Å—ã –≤—Å—Ç—Ä–µ—á–∞—é—Ç—Å—è –≤ –æ–±–æ–∏—Ö –æ–±—ä–µ–∫—Ç–∞—Ö, –∞—Ä–∏—Ñ–º–µ—Ç–∏—á–µ—Å–∫–∞—è –æ–ø–µ—Ä–∞—Ü–∏—è –≤—ã–ø–æ–ª–Ω—è–µ—Ç—Å—è –∫–∞–∫ –æ–±—ã—á–Ω–æ,  
–Ω–æ –µ—Å–ª–∏ –∏–Ω–¥–µ–∫—Å –Ω–µ –Ω–∞–π–¥–µ–Ω - –≤–º–µ—Å—Ç–æ —Ä–µ–∑—É–ª—å—Ç–∞—Ç–∞ –æ–ø–µ—Ä–∞—Ü–∏–∏ —É—Å—Ç–∞–Ω–∞–≤–ª–∏–≤–∞–µ—Ç—Å—è ```NaN```.

In [40]:
series3
series3['Fourth'] = '2344.1'
series3 = series3.astype(np.float64)
series3

First     35000
Second    71000
Third     16000
Fourth     5000
dtype: int64

<ipython-input-40-4b8ee7513b4f>:2: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '2344.1' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  series3['Fourth'] = '2344.1'

First     35000.0
Second    71000.0
Third     16000.0
Fourth     2344.1
dtype: float64

In [41]:
type(series3['Fourth'])

numpy.float64

In [42]:
series3
series4

First     35000.0
Second    71000.0
Third     16000.0
Fourth     2344.1
dtype: float64

Zeroth        NaN
First     35000.0
Second    71000.0
Third     16000.0
dtype: float64

In [43]:
print(np.nan + np.nan)
print(2344.1 + np.nan)
series3 + series4

nan
nan

First      70000.0
Fourth         NaN
Second    142000.0
Third      32000.0
Zeroth         NaN
dtype: float64

In [44]:
5000 + np.nan, np.nan + np.nan

(nan, nan)

–ò–Ω–¥–µ–∫—Å –æ–±—ä–µ–∫—Ç–∞ –º–æ–∂–Ω–æ –∏–∑–º–µ–Ω—è—Ç—å "–Ω–∞–ª–µ—Ç—É" —á–µ—Ä–µ–∑ —Å–≤–æ–π—Å—Ç–≤–æ ```.index```.

In [45]:
series

0     2
1    12
2    85
3     0
4     6
dtype: int64

In [46]:
# –ú–µ–Ω—è–µ–º –∏–Ω–¥–µ–∫—Å —Ü–µ–ª–∏–∫–æ–º
series.index = ['—Ä–∞–∑', '–¥–≤–∞', '—Ç—Ä–∏', '—á–µ—Ç—ã—Ä–µ', '–ø—è—Ç—å']; series

—Ä–∞–∑        2
–¥–≤–∞       12
—Ç—Ä–∏       85
—á–µ—Ç—ã—Ä–µ     0
–ø—è—Ç—å       6
dtype: int64

In [47]:
series.index[2]

'—Ç—Ä–∏'

In [48]:
series.index[2] = '—à–µ—Å—Ç—å'  ## –û—à–∏–±–∫–∞.

TypeError: Index does not support mutable operations

__–í–ê–ñ–ù–û__: –£ –æ–±—ä–µ–∫—Ç–∞ Series –µ—Å—Ç—å —Å–≤–æ–π—Å—Ç–≤–æ ```.name```, –∏ —ç—Ç–æ —Å–≤–æ–π—Å—Ç–≤–æ –∏–≥—Ä–∞–µ—Ç –≤–∞–∂–Ω—É—é —Ä–æ–ª—å –≤ —Ä–∞–±–æ—Ç–µ —Å DataFrame.

In [49]:
series
series3.name = 'Numbers'
series3

—Ä–∞–∑        2
–¥–≤–∞       12
—Ç—Ä–∏       85
—á–µ—Ç—ã—Ä–µ     0
–ø—è—Ç—å       6
dtype: int64

First     35000.0
Second    71000.0
Third     16000.0
Fourth     2344.1
Name: Numbers, dtype: float64

## –ó–∞–¥–∞–Ω–∏–µ:

__–ó–∞–¥–∞—á–∞ ‚Ññ1.__ –°–æ–∑–¥–∞–π—Ç–µ –æ–±—ä–µ–∫—Ç Series –¥–ª—è —Ö—Ä–∞–Ω–µ–Ω–∏—è –æ—Ü–µ–Ω–æ–∫ –ø–æ –∫–∞–∫–æ–º—É-–ª–∏–±–æ –ø—Ä–µ–¥–º–µ—Ç—É, –Ω–∞–ø—Ä–∏–º–µ—Ä, –ø–æ "–õ–∏–Ω–µ–π–Ω–æ–π –ê–ª–≥–µ–±—Ä–µ".  
   –ü—É—Å—Ç—å –æ–Ω —Å–æ–¥–µ—Ä–∂–∏—Ç 10 —Å—Ç—É–¥–µ–Ω—Ç–æ–≤ —Å–æ —Å–ª—É—á–∞–π–Ω—ã–º–∏ –æ—Ü–µ–Ω–∫–∞–º–∏ –æ—Ç 2 –¥–æ 5. –§–∞–º–∏–ª–∏–∏ —Å—Ç—É–¥–µ–Ω—Ç–æ–≤ –¥–æ–ª–∂–Ω—ã –±—ã—Ç—å –∏–Ω–¥–µ–∫—Å–∞–º–∏.

In [52]:
import pandas as pd
import numpy as np

# –°–ø–∏—Å–æ–∫ —Ñ–∞–º–∏–ª–∏–π —Å—Ç—É–¥–µ–Ω—Ç–æ–≤
students = [
    '–ò–≤–∞–Ω–æ–≤', '–ü–µ—Ç—Ä–æ–≤', '–°–∏–¥–æ—Ä–æ–≤', '–ö—É–∑–Ω–µ—Ü–æ–≤', '–°–º–∏—Ä–Ω–æ–≤',
    '–í–∞—Å–∏–ª—å–µ–≤', '–ü–æ–ø–æ–≤', '–ú–∏—Ö–∞–π–ª–æ–≤', '–ù–æ–≤–∏–∫–æ–≤', '–§–µ–¥–æ—Ä–æ–≤'
]

# –ì–µ–Ω–µ—Ä–∞—Ü–∏—è —Å–ª—É—á–∞–π–Ω—ã—Ö –æ—Ü–µ–Ω–æ–∫ –æ—Ç 2 –¥–æ 5
grades = np.random.randint(2, 6, size=10)

# –°–æ–∑–¥–∞–Ω–∏–µ Series
linear_algebra_grades = pd.Series(grades, index=students, name="–õ–∏–Ω–µ–π–Ω–∞—è –ê–ª–≥–µ–±—Ä–∞")

print(linear_algebra_grades)

–ò–≤–∞–Ω–æ–≤      3
–ü–µ—Ç—Ä–æ–≤      3
–°–∏–¥–æ—Ä–æ–≤     3
–ö—É–∑–Ω–µ—Ü–æ–≤    2
–°–º–∏—Ä–Ω–æ–≤     2
–í–∞—Å–∏–ª—å–µ–≤    5
–ü–æ–ø–æ–≤       5
–ú–∏—Ö–∞–π–ª–æ–≤    4
–ù–æ–≤–∏–∫–æ–≤     4
–§–µ–¥–æ—Ä–æ–≤     2
Name: –õ–∏–Ω–µ–π–Ω–∞—è –ê–ª–≥–µ–±—Ä–∞, dtype: int64

__–ó–∞–¥–∞—á–∞ ‚Ññ2.__ –í—ã–≤–µ–¥–∏—Ç–µ —Å—Ä–µ–¥–Ω–∏–π –±–∞–ª–ª –¥–ª—è –≤—Å–µ—Ö, —É –∫–æ–≥–æ –æ—Ü–µ–Ω–∫–∞ –±–æ–ª—å—à–µ –∏–ª–∏ —Ä–∞–≤–Ω–∞ 3.

In [53]:
average_grade = linear_algebra_grades[linear_algebra_grades >= 3].mean()
print(f"–°—Ä–µ–¥–Ω–∏–π –±–∞–ª–ª (‚â•3): {average_grade:.2f}")

–°—Ä–µ–¥–Ω–∏–π –±–∞–ª–ª (‚â•3): 3.86

__–ó–∞–¥–∞—á–∞ ‚Ññ3.__ –°–æ–∑–¥–∞–π—Ç–µ –¥—Ä—É–≥–æ–π –æ–±—ä–µ–∫—Ç Series, –¥–ª—è —Ö—Ä–∞–Ω–µ–Ω–∏—è –æ—Ü–µ–Ω–æ–∫ –ø–æ –¥—Ä—É–≥–æ–º—É –ø—Ä–µ–¥–º–µ—Ç—É, –Ω–∞–ø—Ä–∏–º–µ—Ä –ø–æ "–ú–∞—Ç–µ–º–∞—Ç–∏—á–µ—Å–∫–æ–º—É –ê–Ω–∞–ª–∏–∑—É".  
   –ü–æ—Å—á–∏—Ç–∞–π—Ç–µ —Å—Ä–µ–¥–Ω–∏–π –±–∞–ª–ª –¥–ª—è –∫–∞–∂–¥–æ–≥–æ —Å—Ç—É–¥–µ–Ω—Ç–∞ –ø–æ —ç—Ç–∏–º –¥–≤—É–º –ø—Ä–µ–¥–º–µ—Ç–∞–º.

In [54]:
# –ì–µ–Ω–µ—Ä–∏—Ä—É–µ–º –æ—Ü–µ–Ω–∫–∏ –¥–ª—è –≤—Ç–æ—Ä–æ–≥–æ –ø—Ä–µ–¥–º–µ—Ç–∞
math_analysis_grades = pd.Series(
    np.random.randint(2, 6, size=10),
    index=students,
    name="–ú–∞—Ç–µ–º–∞—Ç–∏—á–µ—Å–∫–∏–π –ê–Ω–∞–ª–∏–∑"
)

# –û–±—ä–µ–¥–∏–Ω—è–µ–º –≤ DataFrame –∏ —Å—á–∏—Ç–∞–µ–º —Å—Ä–µ–¥–Ω–µ–µ –ø–æ —Å—Ç—Ä–æ–∫–∞–º
combined_grades = pd.DataFrame({
    "–õ–∏–Ω–µ–π–Ω–∞—è –ê–ª–≥–µ–±—Ä–∞": linear_algebra_grades,
    "–ú–∞—Ç–µ–º–∞—Ç–∏—á–µ—Å–∫–∏–π –ê–Ω–∞–ª–∏–∑": math_analysis_grades
})

combined_grades["–°—Ä–µ–¥–Ω–∏–π –±–∞–ª–ª"] = combined_grades.mean(axis=1)

print(combined_grades)

          –õ–∏–Ω–µ–π–Ω–∞—è –ê–ª–≥–µ–±—Ä–∞  –ú–∞—Ç–µ–º–∞—Ç–∏—á–µ—Å–∫–∏–π –ê–Ω–∞–ª–∏–∑  –°—Ä–µ–¥–Ω–∏–π –±–∞–ª–ª
–ò–≤–∞–Ω–æ–≤                   3                      3           3.0
–ü–µ—Ç—Ä–æ–≤                   3                      4           3.5
–°–∏–¥–æ—Ä–æ–≤                  3                      3           3.0
–ö—É–∑–Ω–µ—Ü–æ–≤                 2                      4           3.0
–°–º–∏—Ä–Ω–æ–≤                  2                      2           2.0
–í–∞—Å–∏–ª—å–µ–≤                 5                      5           5.0
–ü–æ–ø–æ–≤                    5                      3           4.0
–ú–∏—Ö–∞–π–ª–æ–≤                 4                      5           4.5
–ù–æ–≤–∏–∫–æ–≤                  4                      5           4.5
–§–µ–¥–æ—Ä–æ–≤                  2                      2           2.0

## –î–æ–ø–æ–ª–Ω–µ–Ω–∏–µ
–º–æ–∂–Ω–æ –∏—Å–ø–æ–ª—å–∑–æ–≤–∞—Ç—å –±–∏–±–ª–∏–æ—Ç–µ–∫—É **faker** –¥–ª—è —Å–æ–∑–¥–∞–Ω–∏—è –¥–∞–Ω–Ω—ã—Ö:  

https://faker.readthedocs.io/en/master/

_–£—Å—Ç–∞–Ω–æ–≤–∫–∞:_
```
conda install faker
```

In [ ]:
from faker import Faker

In [ ]:
fake = Faker('ru_RU')  # –ó–∞–¥–∞–µ–º —Ä—É—Å—Å–∫–∏–π —Ä–µ–≥–∏–æ–Ω
# –±—ã–≤–∞–µ—Ç –∏ —Ç–∞–∫–æ–µ:  '—Ç–æ–≤. –ë–ª–æ—Ö–∏–Ω–∞ –ê–ª–µ–∫—Å–∞–Ω–¥—Ä–∞ –í–∞–¥–∏–º–æ–≤–Ω–∞'
# –∏ —Ç–∞–∫–æ–µ '–≥-–Ω –ö–∏—Å–µ–ª–µ–≤ –ó–æ—Å–∏–º–∞ –¢—Ä–∏—Ñ–æ–Ω–æ–≤–∏—á'
index_name = [fake.name() for _ in range(5)]
index_name

In [ ]:
fake.first_name(), fake.last_name()

In [ ]:
# –ü–æ–ª–Ω—ã–π(full) –ø—Ä–æ—Ñ–∏–ª—å
fake.profile()

In [ ]:
# –ü—Ä–æ—Å—Ç–æ–π –ø—Ä–æ—Ñ–∏–ª—å
fake.simple_profile()

In [ ]:
# –°–æ–∑–¥–∞–Ω–∏–µ —Å–µ—Ä–∏–∏ –∏–∑ –ø—Ä–æ—Å—Ç–æ–≥–æ –ø—Ä–æ—Ñ–∏–ª—è
pd.Series(fake.simple_profile())

–î–∞—Ç–∞ –º–æ–∂–µ—Ç –±—ã—Ç—å –ø—Ä–µ–æ–±—Ä–∞–∑–æ–≤–∞–Ω–∞ –≤ —Å—Ç—Ä–æ–∫–æ–≤–æ–µ –∑–Ω–∞—á–µ–Ω–∏–µ –∏ –Ω–∞–æ–±–æ—Ä–æ—Ç.

In [ ]:
res = fake.date_of_birth(); res

In [ ]:
# –∏–∑ datetime.datetime –≤ —Å—Ç—Ä–æ–∫—É
res.strftime('%d-%B-%Y')

In [ ]:
# –∏–∑ —Å—Ç—Ä–æ–∫–∏ –≤ datetime.datetime
datetime.strptime('31-03-2022', '%d-%m-%Y')