In [1]:
import pandas as pd
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"
import numpy as np
from faker import Faker
fake = Faker("ru_RU")

### __Задание__

1. Создайте DataFrame для пяти студентов и их оценок по предметам matan, linal, matstat и cs, заполните их случайными данными. Предметы - колонки, студенты - строки.
2. Добавьте еще одного студента и данные по его успеваемости по предметам
3. Добавьте предмет physics и оценки по нему
6. Добавьте признак "mean" ("средний балл"), посчитайте в нем средний балл по каждому студенту.
7. Для каждого студента посчитайте средний балл по всем предметам, кроме "cs" и "mean" (новый столбец датафрейма)
8. Удалите предмет "cs"

Варианты решения со столбцами  
https://stackoverflow.com/questions/29763620/how-to-select-all-columns-except-one-in-pandas

**Task 1:** Создайте DataFrame для пяти студентов и их оценок по предметам matan, linal, matstat и cs, заполните их случайными данными

In [8]:
names = [fake.name() for _ in range(5)]
col_names = ["matan", "linal", "matstat", "cs"]
scores_mas = np.random.randint(2, 6, (5, 4))
scores = pd.DataFrame(scores_mas, index=names, columns=col_names)
scores

                                 matan  linal  matstat  cs
Михеев Лазарь Ануфриевич             5      2        3   2
Исакова Евгения Анатольевна          3      5        4   5
Мартынова Октябрина Геннадиевна      2      3        2   5
Елена Евгеньевна Журавлева           3      3        4   4
Королева Любовь Александровна        2      2        3   3

**Task 2:** Добавьте еще одного студента и данные по его успеваемости по предметам

In [9]:
scores.loc[fake.name()] = np.random.randint(2, 6, 4)
scores

                                 matan  linal  matstat  cs
Михеев Лазарь Ануфриевич             5      2        3   2
Исакова Евгения Анатольевна          3      5        4   5
Мартынова Октябрина Геннадиевна      2      3        2   5
Елена Евгеньевна Журавлева           3      3        4   4
Королева Любовь Александровна        2      2        3   3
Кошелева Иванна Альбертовна          5      2        5   5

**Task 3:** Добавьте предмет `physics` и оценки по нему

In [10]:
scores["physics"] = np.random.randint(2, 6, scores.shape[0])
scores

                                 matan  linal  matstat  cs  physics
Михеев Лазарь Ануфриевич             5      2        3   2        4
Исакова Евгения Анатольевна          3      5        4   5        2
Мартынова Октябрина Геннадиевна      2      3        2   5        2
Елена Евгеньевна Журавлева           3      3        4   4        2
Королева Любовь Александровна        2      2        3   3        2
Кошелева Иванна Альбертовна          5      2        5   5        2

**Task 4:** Добавьте признак `mean` ("средний балл"), посчитайте в нем средний балл по каждому студенту.

In [11]:
scores["mean"] = scores.mean(axis="columns")
scores

                                 matan  linal  matstat  cs  physics  mean
Михеев Лазарь Ануфриевич             5      2        3   2        4   3.2
Исакова Евгения Анатольевна          3      5        4   5        2   3.8
Мартынова Октябрина Геннадиевна      2      3        2   5        2   2.8
Елена Евгеньевна Журавлева           3      3        4   4        2   3.2
Королева Любовь Александровна        2      2        3   3        2   2.4
Кошелева Иванна Альбертовна          5      2        5   5        2   3.8

**Task 5:** Для каждого студента посчитайте средний балл по всем предметам, кроме `cs` и `mean` (новый столбец датафрейма)

In [12]:
# Variant 1
scores["mean_no_cs"] = scores.loc[
    :, scores.columns[(scores.columns != "cs") & (scores.columns != "mean")]
].mean(axis="columns")
scores

,matan,linal,matstat,cs,physics,mean,mean_no_cs
Михеев Лазарь Ануфриевич,5,2,3,2,4,3.2,3.50
Исакова Евгения Анатольевна,3,5,4,5,2,3.8,3.50
Мартынова Октябрина Геннадиевна,2,3,2,5,2,2.8,2.25
Елена Евгеньевна Журавлева,3,3,4,4,2,3.2,3.00
Королева Любовь Александровна,2,2,3,3,2,2.4,2.25
Кошелева Иванна Альбертовна,5,2,5,5,2,3.8,3.50

In [ ]:
# Variant 2
df["mean_except_cs"] = df.loc[:, df.columns.difference(["cs", "mean"])].mean(axis=1)
df

**Task 6:** Удалите предмет `cs`

In [13]:
scores.drop("cs", axis=1, inplace=True)
scores

,matan,linal,matstat,physics,mean,mean_no_cs
Михеев Лазарь Ануфриевич,5,2,3,4,3.2,3.50
Исакова Евгения Анатольевна,3,5,4,2,3.8,3.50
Мартынова Октябрина Геннадиевна,2,3,2,2,2.8,2.25
Елена Евгеньевна Журавлева,3,3,4,2,3.2,3.00
Королева Любовь Александровна,2,2,3,2,2.4,2.25
Кошелева Иванна Альбертовна,5,2,5,2,3.8,3.50